@import url(./reset.css);

* {
    --background : #aaa;
    --accent : #aaa;
    --gray-100 : #aaa;
    --gray-200 : #aaa;
    --gray-300 : #aaa;
    --gray-400 : #aaa;
    background-color: rgb(247, 247, 247);
}

body {
  background: #e8e2d6;
  position: relative;
}

body::before {
  content: "";

  position: fixed;
  inset: 0;

  pointer-events: none;


  background-image:
    radial-gradient(circle at 20% 20%, rgba(0,0,0,.15) 1px, transparent 1px),
    radial-gradient(circle at 80% 60%, rgba(0,0,0,.12) 1px, transparent 1px),
    radial-gradient(circle at 40% 80%, rgba(0,0,0,.1) 1px, transparent 1px);

  background-size:
    25px 25px,
    35px 35px,
    45px 45px;

  z-index: 9999;
}